apiVersion: gauravkr19.dev/v1alpha1
kind: RebootPod
metadata:
  labels:
    app.kubernetes.io/name: rebootpod-controller
    app.kubernetes.io/managed-by: kustomize
  name: rebootpod-sample
spec:
  vaultEndpointDB: "database/static-creds/dev-postgres"
  jwtRole: "rebootpod-db-postgres"
  restartTargets:
  - kind: Deployment
    name: test-vault-deploy